.page-header#head-title
	%h1 FAQ
#help-text
	%h2 What do I need to use this app?
	%p Justin's Stuff
	%p A compatible desk cycle

	%h2 How do I set up my desk cycle?
	%p Put desk cycle under your desk
	%p Connect aux cable from desk cycle to Justin's Stuff
	%p Connect Justin's Stuff to your computer by usb
	%p add some files maybe

	%h2 Email support or give feedback.
	%p Support: meow@support.com
	%p Feedback: feed@back.net